# Python
__pycache__/
*.pyc

# Virtual environment
diarization_env/
venv/

# VS Code
.vscode/

# Models
models/
*.keras
*.h5
*.pt
*.pth
*.safetensors

# Videos & Audio
*.mp4
*.wav
*.mp3

# Datasets (optional)
Data/

# Streamlit cache
.streamlit/secrets.toml
