# Python
__pycache__/
*.pyc

# Virtual environments
venv/
diarization_env/

# VS Code
.vscode/

# Models
models/
*.keras
*.h5
*.pt
*.pth
*.safetensors

# Datasets
Data/

# Videos & Audio
*.mp4
*.wav
*.mp3

# Streamlit
.streamlit/secrets.toml