streamlit>=1.28.0
tensorflow-cpu==2.16.1
torch==2.1.0
torchaudio==2.1.0
transformers==4.35.0
openai-whisper
numpy==1.26.4
pandas>=2.0.0
scipy>=1.11.0
scikit-learn>=1.3.0
librosa==0.10.0
soundfile
opencv-python-headless==4.8.0.76
Pillow>=9.5.0
plotly>=5.15.0
gdown
pydub
praat-parselmouth
